:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-brown: #483834;

    --text-shadow: 1px 1px 1px var(--color-black);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html, body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    display: inline-block;
    padding: 1em 3em;
    border-radius: 30px;
    font-size: 1.4rem;
}

.button--brown {
    background-color: var(--color-brown);
    color: var(--color-white);
}