.main {
    width: 100%;
    min-height: 100vh;
    color: var(--color-white);
    background-image: url(../../img/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main__home {
    width: 100%;
    min-height: calc(100vh - 93px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__header {
    text-align: center;
}

.header__introduction {
    font-size: clamp(1.8rem, 1rem + 1vw, 2.5rem);
    text-shadow: var(--text-shadow);
}

.costac-title--home {
    font-size: clamp(5rem, 1rem + 5vw, 10rem);
    margin-block: 1.6rem;
}

.header__description {
    max-width: 75%;
    line-height: 1.6em;
    margin-inline: auto;
    margin-bottom: 1em;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    overflow-wrap: break-word;
    text-shadow: var(--text-shadow);
}

@media screen and (max-width: 30em) {
    .header__description {
        max-width: 95%;
    }
}