.main__home {
    width: 100%;
    height: calc(100vh - 93px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__header {
    text-align: center;
}

.header__introduction {
    font-size: 1.7rem;
    text-shadow: var(--text-shadow);
}

.costac-title--home {
    font-size: 9rem;
    margin-block: 1.6rem
}

.header__description {
    width: 75%;
    line-height: 1.6em;
    margin-inline: auto;
    margin-bottom: 1em;
    font-size: 1.2rem;
    overflow-wrap: break-word;
    text-shadow: var(--text-shadow);
}